{% extends "main.html" %}

{% block main %}

<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Início</a></li>
                <li class="breadcrumb-item"><a href="/empresa/lista">Lista de Fornecedor</a></li>
                <li class="breadcrumb-item active" aria-current="page">Cadastro e edição de Fornecedor</li>
            </ol>
        </nav>
    </div>
</div>

<div class="container">
    <div class=row>
        <div class="alert alert-warning" role="alert" id="mensagem">
            Todos os campos com * são obrigatórios
          </div>
        <div class="col-12">
            <form name="form" id="form" action="/fornecedor/lista" method="post" autocomplete="on">
                <input type="hidden" id="id" name="id" value="{{id}}">
                <div class="card">
                    <div class="card-header">
                        Formulario Fornecedor
                    </div>
                    <p class="card-text">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite Seu Nome">
                        <label for="nome">Digite Seu Nome </label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="cnpj" name="cnpj" placeholder="Digite seu CNPJ">
                        <label for="cpf">Digite seu CNPJ</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="ie" name="ie" placeholder="Digite Sua IE">
                        <label for="email">Digite Sua IE</label>
                    </div>
                        <br>
                    <button type="button" class="btn btn-secondary" id="salvar">Complete</button>
                    <button type="button" class="btn btn-danger" id="deletar" onclick="Deletar();">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
{% include "script.html" %}
<script src="/js/fornecedor.js"></script>
<script src="/js/ControlAlert.js"></script>
{% endblock %}