{% extends "main.html" %}

{% block main %}

<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Início</a></li>
                <li class="breadcrumb-item"><a href="/usuario/lista">Lista de usuário</a></li>
                <li class="breadcrumb-item active" aria-current="page">Cadastro e edição de usuário</li>
            </ol>
        </nav>
    </div>
</div>

<div class="col-12">
    <div class="alert alert-warning" role="alert" id="mensagem">

        Todos campos com '*' são obrigatórios
    </div>
    <div class="card mt-2">
        <div class="card-header">
            <div class="card-body">
                <form id="form" id="form" action="/usuario/lista" method="post" autocomplete="on">
                    <input type="text" id="id" name="id" value="{{id}}">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="nome_completo" name="nome_completo"
                                    placeholder="name@example.com">
                                <label for="nome_completo">Informe seu nome completo</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="cpf" name="cpf"
                                    placeholder="name@example.com">
                                <label for="cpf">Informe seu CPF</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="email" name="email"
                                    placeholder="name@example.com">
                                <label for="email">Informe seu E-mail</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="senha" name="senha"
                                    placeholder="name@example.com">
                                <label for="senha">Informe sua senha</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <button id="salvar" type="button" class="btn btn-success">Cadastrar</button>
                            <button type="button" class="btn btn-danger" id="deletar" onclick="Deletar();">Delete</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block script %}
    {% include "script.html" %}
    <script src="/js/ControllAlert.js"></script>
    <script src="/js/user.js"></script>
    {% endblock %}