{% extends "main.html" %}
{% block main %}
<div class="col-12">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Início</a></li>
            <li class="breadcrumb-item"><a href="/disciplina/lista">Lista de disciplinas</a></li>
            <li class="breadcrumb-item active" aria-current="page">cadastro e alteração</li>
        </ol>
    </nav>
</div>
<div class="col-12">
    <form id="form">
        <input type="hidden" id="id" name="id" value="{{id}}">
        <input type="hidden" id="acao" name="acao" value="{{acao}}">
        <div class="card">
            <div class="card-header">
                {{titulo}}
            </div>
            <div class="card-body">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="nome" name="nome" placeholder="name@example.com">
                    <label for="nome">Nome</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="senha" name="senha" placeholder="name@example.com">
                    <label for="senha">Senha</label>
                </div>
                <button type="button" class="btn btn-primary" id="salvar">
                    Salvar
                </button>
            </div>
        </div>
    </form>
</div>
<script src="/js/disciplina.js"></script>
{% endblock %}